ul.bullets {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top:80%;
  text-align: left;
}

li.bullets {
  padding-left: 1em; 
  text-indent: -.7em;
  font-size: 11px;
}
#curr_asset_bullet::before {
  content: "■ ";
  color: #aee2ef;
}
#lt_asset_bullet::before {
  content: "■ ";
  color: #5abae2; 
}
#curr_liab_bullet::before {
  content: "■ ";
  color: #e098aa;
}
#lt_liab_bullet::before {
  content: "■ ";
  color: #cc617c; 
}
#eqt_bullet::before {
  content: "■ ";
  color: #857fcf; 
}

.header{
	position:relative;
	background:#ffffff; 
	width: 100%;
	height: 50px;
}

#opacity_div{
	position:absolute;
	left: 0px;
	right: 0px;
	top: 50px;
	bottom: 0px;

}

.ratio_dropdown {
	position:absolute;
	left:70%;
	top:25%;
	border: 1px solid #515151;
	padding: 5px 12px 5px 16px;
	}
	
.dropdown-toggle{
	color:#515151;
}

#ratio_eq{
	position:absolute;
	font-size: 130%;
	top: 48%;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	padding: 10px 40px 10px 40px;
}

#company_name{
	position:absolute;
	left: 50%;
	color: #515151;
	font-size: 30px;
	margin: 0 0 0 0;
	padding: 10px 0 10px 0;
	text-align:center;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.statement_headings{
	color: #515151;
}

h3{
	color: #515151;
}

.h_class{
	position:absolute;
	text-decoration: underline;
}

#revenue_svg{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


#expense_svg{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#h_equal{
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


#net_svg{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#assets_svg{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#liabilities_svg{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
}

#cf_operating_svg{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#cf_investing_svg{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#cf_financing_svg{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);}

#market_cap_svg{
	position: absolute;
	top: 55%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.inner_container{
	position: relative;
	text-align: center;
	background-color: #f7f7f7;
	/* border: 7px solid #efefef; */
	border: 7px solid #ffffff;
}
